.pizzaDisplay {
  /* display: grid;
  grid-gap: 1rem; */
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 20px;
  align-items: stretch;
  padding: 7%;
}

